<h2>Transportadora <%= @transporter.brand_name %></h2>

<div>
  <strong>Nome Fantasia:</strong> <%= @transporter.corporate_name %>
  <strong>Razão Social:</strong> <%= @transporter.brand_name %>
  <strong>CNPJ:</strong> <%= @transporter.registration_number %>
  <strong>Endereço:</strong> <%= @transporter.full_address %>
  <strong>Domínio:</strong> <%= @transporter.domain %>
</div>
